body {
    background-color: #101010;
    background-image: url("res/background images/painted-solid-concrete-wall-textured-background.jpg");
}

/* ---------------------------------------------------------------------------------------------------- */

#head {
    display: flex;
    justify-content: center;
    align-content: center;

    height: 17vh;

    padding: 0;
    margin: 5vh 0 10vh 0;
}

#headbox {
    display: flex;
    justify-content: center;
    align-content: center;

    height: 17vh;

    padding: 0;
    margin: 0;

    background-image: url("res/background images/solid-painted-concrete-wall-textured-backdrop.jpg");
    border: 10px solid rgba(215, 167, 101, 100);
    border-style: outset;
}

#headbox img {
    padding: 0;
    margin: auto 10px;

    width: 15vh;
    height: 15vh;
}

#headbox h1 {
    padding:0;
    margin: auto 10px;
    
    font-size: 10vh;
    color: #d7d7d7;
}

/* ---------------------------------------------------------------------------------------------------- */

nav {
    display: flex;
    width: 80%;
    height: 50px;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    
    border: 5px solid rgba(215, 167, 101, 100);
    border-style: outset;
    background-image: url("res/background images/solid-painted-concrete-wall-textured-backdrop.jpg");

    margin: auto;
}

nav ul {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;

    padding: 0;
    margin: 10px;
}

nav ul li {
    border-left: 1px solid #d7d7d7;
    display: block;
    padding: 0 20px 5px 20px;
    margin: 0;

    width: fit-content;

    align-content: center;
}

nav ul li:first-child {
  border-left: none;
}

nav ul li a {
    color: #d7d7d7;
    text-decoration: none;
    font-size: 125%;
    padding: 0 0 5px 0;
    margin: 0;

    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* 3. Adjust the thickness of the underline as needed. */
    bottom: 0;
    left: 0;
    background-color: rgba(215, 167, 101, 100);
    transform: scaleX(0); /* 4. Initially hide the underline by scaling its width to 0. */
    transition: transform 0.3s ease-out; /* 5. Animate the transform property. */
    transform-origin: center; /*(Optional) transform-origin is center by default. */
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

#bar {
    flex-grow: 1;

    display: block;
    padding: 0 10px;
    margin: 0;

    align-content: center;
    opacity: 0.75;
}

/* ---------------------------------------------------------------------------------------------------- */

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;

    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

/* ---------------------------------------------------------------------------------------------------- */

.spacer {
    flex: 1;
    display: block;
}

#picbio {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    padding: 0;
    margin-top: 5%;
}

#picbio img {
    display: block;

    width: 50%;
    padding: 5px;
    margin: 0 auto 5% auto;

    border: 5px solid rgba(215, 167, 101, 100);
    border-style: outset;
}

#picbio p {
    display: block;

    width: 50%;
    height: fit-content;
    padding: 10px;
    margin: auto;

    background-image: url("res/background images/solid-painted-concrete-wall-textured-backdrop.jpg");
    border: 5px solid rgba(215, 167, 101, 100);
    border-style: outset;
    color: #d7d7d7;
    font-size: 125%;
}

/* ---------------------------------------------------------------------------------------------------- */

aside {
    flex: 1;

    border: 5px solid rgba(215, 167, 101, 100);
    border-style: outset;
    padding: 10px;
    margin-top: 5%;

    height: fit-content;
    background-image: url("res/background images/solid-painted-concrete-wall-textured-backdrop.jpg");
}

aside h3 {
    color: #d7d7d7;
}

aside p {
    color: #d7d7d7;
}