body {
    background-color: #101010;
    background-image: url("res/Personal Logos/jpegs/dark mode logo fancy shadow.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0;
    background-size: 50%;
}

.image {

}

#main_logo {
    max-width: 100%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#main_title {
    text-align: center;
    margin: 0;
    font-size: 400%;
}

.title {
    text-align: center;
}

.boxxed {
    border: 5px solid #101010;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    display: block;
    background-color: pink;
    justify-content: center;

    max-width: 100%;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.subtitle {
    text-align: center;
    margin: 0;
}