body {
    background-color: #101010;
}

/* ---------------------------------------------------------------------------------------------------- */

nav {
    display: flex;
    width: 80%;
    height: 50px;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    
    border: 1px solid #d7d7d7;
    border-width: 4px 0;
    background-color: rgba(10, 10, 10, 0);;

    margin: auto;
}

nav ul {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;

    padding: 0;
    margin: 10px;
}

nav ul li {
    border-left: 1px solid #d7d7d7;
    display: block;
    padding: 0 20px 5px 20px;
    margin: 0;

    width: fit-content;

    align-content: center;
}

nav ul li:first-child {
  border-left: none;
}

nav ul li a {
    color: #d7d7d7;
    text-decoration: none;
    font-size: 125%;
    padding: 0 0 5px 0;
    margin: 0;

    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* 3. Adjust the thickness of the underline as needed. */
    bottom: 0;
    left: 0;
    background-color: #d7d7d7;
    transform: scaleX(0); /* 4. Initially hide the underline by scaling its width to 0. */
    transition: transform 0.3s ease-out; /* 5. Animate the transform property. */
    transform-origin: center; /*(Optional) transform-origin is center by default. */
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

#bar {
    flex-grow: 1;

    display: block;
    padding: 0 10px;
    margin: 0;

    align-content: center;
    opacity: 0.75;
}

/* ---------------------------------------------------------------------------------------------------- */

#head {
    display: flex;
    justify-content: center;
    align-content: center;

    height: 10vh;

    padding: 0;
    margin: 5vh 0 10vh 0;
}

#head img {
    padding: 0;
    margin: 0;

    width: 15vh;
    height: 15vh;
}

#head h1 {
    padding: 2vh 0;
    margin: 0 10px;
    
    font-size: 10vh;
    color: #d7d7d7;
}
